.descriptions {
  width: 65%;
  margin-bottom: 3rem;
}

.descriptions h2 {
  color: #1c1d1f;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.descriptions p,
.descriptions ul {
  color: #1c1d1f;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.descriptions ul {
  padding-left: 1rem;
}

.descriptions ul li {
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}

.showMoreDiv {
  display: block;
}

.showMoreButton {
  border: none;
  background: none;
  color: #5624d0;
  font-weight: bold;
  font-size: 0.9rem;
}

@media (max-width: 1080px) {
  .descriptions {
    width: 100%;
  }
}
