.overviewSection {
  margin: 2rem 0%;
  width: 65%;
  border: 0.05rem solid #d1d7dc;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.overviewSection h2 {
  color: #1c1d1f;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.overviewSection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 3%;
}

.overviewSection ul li {
  font-size: 0.9rem;
  width: 45%;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
  color: #1c1d1f;
}

@media (max-width: 1080px) {
  .overviewSection,
  .overviewSection ul li {
    width: 100%;
  }
}
