.course img {
  width: 15rem;
  margin-bottom: 0.5rem;
}

.course {
  text-align: left;
  width: 15rem;
  margin: 0.5rem;
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
}

.course:hover {
  cursor: pointer;
}

.course h2 {
  font-size: 0.8rem;
  font-weight: bold;
}

.course span {
  font-size: 0.6rem;
  color: grey;
}

.rating {
  font-size: 0.6rem;
  color: #e59819 !important;
}

.popoverTrigger {
  background: none;
  border: none;
}

.popover {
  position: absolute;
  background-color: white;
  padding: 1.5rem;
  border: 0.05rem solid #d1d7dc;
  box-shadow: 0 0 0.1rem #1c1d1f;
  width: 24rem;
}

.popover h2 {
  font-size: 1.2rem;
  color: #1c1d1f;
}

.popover p {
  line-height: 1.3rem;
}

.popover .lastUpdated {
  color: #25655a;
  font-size: 0.8rem;
}

.popover .details {
  color: #777077;
  font-size: 0.8rem;
}

.popover ul {
  list-style: none;
  padding: 0rem;
}

.popover ul li {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  display: flex;
}

.popover ul li .icon {
  margin-right: 1rem;
}

.popover .userButtons {
  display: flex;
  justify-content: space-between;
}

.popover .userButtons .addCart {
  color: white;
  background-color: #a435f0;
  border: 0.1rem solid #a435f0;
  border: none;
  width: 80%;
  font-weight: bold;
}

.popover .userButtons .love {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0.1rem solid black;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.love .icon {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .popover {
    visibility: hidden;
  }
}
