.offers {
  height: 25rem;
  background-image: url("../images/Alarm-image.jpg");
  background-repeat: no-repeat;
  background-position: right 25% top;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

.offersCard {
  width: 25rem;
  background-color: white;
  position: relative;
  top: 10%;
  right: -5%;
  padding: 2% 2%;
  box-shadow: 0rem 0rem 0.2rem 0.2rem #efefef;
}

@media (max-width: 800px) {
  .offers {
    margin-bottom: 8rem;
  }
  .offersCard {
    width: 100%;
    position: relative;
    top: 100%;
    right: 2%;
    box-shadow: none;
  }
}
